<!DOCTYPE HTML>
<html> <!-- xmlns:th="http://www.thymeleaf.org" -->
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <!--   <p th:text="'Hello, ' + heheh + '!'" /> -->
  <a href="/signup">Register Customer</a><br/>
  <a href="#">Add customer data</a>
<!-- 	<input type="button" value="Register Customer" onclick="/signup"/>
	<input type="button" value="Add customer data" onclick="#"/> -->
</body>
</html>