<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Milk Dairy | SignUp Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/register}" th:object="${customer}" method="POST">
		<fieldset>
			<legend>Register Customer</legend>
			Customer code: <input type="text" th:field="*{customerCode}" th:text="${customerCode}" readonly="readonly"/> <br/>
			First name: <input type="text" th:field="*{firstName}"/> <br/>
			Last name: <input type="text" th:field="*{lastName}"/><br/>
			Father name: <input type="text" th:field="*{fatherName}"/><br/>
			Mobile name: <input type="text" th:field="*{mobileNumber}"/><br/>
			Address: <input type="text" th:field="*{address}"/><br/>
			<input type="submit" value="SignUp"/><br/>
			<a href="/">HOME</a><br/>
			<a href="/showAll">list all customers</a>
			
		</fieldset>
	</form>
</body>
</html>